<h1><%=t '.update_book' %></h1>

<%= form_for(@book) do |f| %>
  <div class="input_item">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="input_item">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="input_item">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit'), :class => 'submit_button' %>
  </div>


<% end %>