<div class="app-header">

  <%= content_tag :li do %>
    <%= link_to t('header.english'), locale: :en %>
  <% end  %>

  <%= content_tag :li do %>
    <%= link_to t('header.italian'), locale: :it  %>
  <% end %>

  <%= content_tag :li do %>
    <%= link_to t('header.german'), locale: :de %>
  <% end  %>

</div>